<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#455D78">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" type="image/png" href="{{ '/assets/images/workstation-as-code-256.png?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="shortcut icon" type="image/png" href="{{ '/assets/images/workstation-as-code-256.png?v=' | append: site.github.build_revision | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
          <h1 class="project-name">
              <a href="{{ '/' | relative_url }}">
                {{ page.title | default: site.title | default: site.github.repository_name }}
              </a>
              <img class="project-image" src="{{ '/assets/images/workstation-as-code-256.png?v=' | append: site.github.build_revision | relative_url }}" alt="cocktail" />
          </h1>
          <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="icon"><a href="https://twitter.com/{{ site.twitter_username }}">{% include icon-twitter.svg %}</a></span>
        <span class="icon"><a href="https://github.com/{{ site.github_username }}">{% include icon-github.svg %}</a></span>
        <span class="icon"><a href="https://github.com/{{ site.github_source_repository }}/discussions">{% include icon-discussions.svg %}</a></span>
      </footer>
    </main>
  </body>
</html>
